body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #003333;
}
.order-form {
  padding: 1vh;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  max-width: 60%;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: #669999;
}
.order-form h2 {
  margin: 0 0 10px;
  text-align: center;
}
.order-form label {
  font-weight: bold;
  font-size: 2.3vh;
}
.order-form input,
.order-form select,
.order-form button {
  padding: 2%;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
fieldset {
  border: 6% solid #9999cc;
  padding: 10px;
  border-radius: 4px;
}
fieldset legend {
  padding: 0 5px;
  font-weight: bold;
}

.packaging-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.packaging-options label {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
.packaging-options img {
  display: block;
  margin: 2% auto;
  width: 7vw;
  height: 7vh;
  object-fit: contain;
}

@media (min-width: 600px) {
  .order-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .order-grid > div {
    display: flex;
    flex-direction: column;
  }
  .submitButton {
    grid-column: 1 / -1;
  }
}

.submitButton {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

.submitButton:hover {
  box-shadow: none;
  transform: scale(1.03);
  transition-duration: 150ms;
}

.submitButton:active {
  transform: scale(0.95);
}

.customer-choice {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  background-color: #bef1f1;
}

.customer-choice:hover,
.customer-choice:focus {
  border: 0.5vh solid rgb(0, 112, 84);
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.select-destination {
  border-radius: 10px;
  background-color: #bef1f1;
}

